.modal {
    position: absolute;
    background: white;
    border-radius: 8px;
    max-width: 450px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0 40px 40px 40px ;
    top: 0;
    transform: translate(50%, 50%);
    z-index: 1;
    

    &.active {
        display: flex;
    }

    &__content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &-icon {
            position: absolute;
            right: 20px;
            top: 20px;
        }

        &-gallery {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            margin: auto;

            div {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                svg {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 5px;
                    background-color: black;
                    border-radius: 5px;

                    * {
                        fill: white;
                    }
                }
            }
        }

        hr {
            width: 100%;
        }

        button {
            font-family: 'Syne';
            font-weight: 700;
            color: white;
            background-color: #1D6154;
            margin: 2em auto;
            width: 180px;
            text-align: center;
            border-radius: 60px;
            height: 50px;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 420px;
            width: 100%;
            margin-top: 40px;

            input[type="text"],
            select {
                height: 50px;
                font-size: 1.2em;
                border: none;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            }

            input[type="file"] {
                display: none;
            }

            label {
                margin: 2em 0 1em 0;
            }

            textarea {
                border: none;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            }

            .preview {
                background: #E8F1F6;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                gap: 10px;
                padding: 30px 20px;
                width: 100%;
                box-sizing: border-box;

                img {
                    width: 75px;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                label {
                    border-radius: 50px;
                    background: #CBD6DC;
                    padding: 10px 30px;
                    color: #306685;
                    text-align: center;
                    font-size: 14px;
                    margin: 0;
                }

                span {
                    color: #444;
                    font-size: 10px;
                }
            }
        }
    }
}