.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 60px 100px;
    color: white;
    text-align: center;
    margin-top: auto;
    background-color: black;
    padding: 50px;
    border-radius: 20px 20px 0 0;
}